<div>
  <div>
    <a href="/">voltar</a>
    <div>
      <div>
        <h1>{{job.dataValues.title}} </h1>
        <p> quem eles estão buscando: </p>
        <p>{{job.dataValues.description}}</p>
        <p><span>o salario informado é :  </span>{{job.dataValues.salary}}</p>
        <p>
          para trabalhar na <span>job.dataValues.company</span> envie um email para <a href="mail:to{{job.dataValues.mail}}">{{job.dataValues.mail}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
